.chat-container {
    width:100%;
    height:100vh;
    background:#333;
    color:white;
    display:flex !important;
}
.member-list::-webkit-scrollbar{display:none;}
.member-list {
    width:25%;
    border-right:1px solid #fff;
    height:inherit;
    overflow-y:scroll;
    overflow-x:hidden;
    position:relative;
}
#settings{
    cursor:pointer;
    font-size:2vw;
    position:absolute;
    left:2vw;
}
#profile{
    cursor:pointer;
    font-size:2vw;
    position:absolute;
    right:2vw;
}

.member-list .title p{
    font-size:2vw;
    height:auto;
    position:absolute;
    color:white;
}
.member-list .title{
    width:100%;
    height:10vh;
    position:sticky;
    background:#333;
    z-index:100;
    top:0;
    font-size:2vw;
    font-family:fantasy;
    display:flex;
    align-items:center;
    justify-content: center;
}
.member-list p{
    font-family: Georgia, serif;
    font-size:1.3vw;
    color:black;
    width:auto;
    text-align:center;
    max-width:45%;
    cursor:pointer;
    height:auto;
    white-space:nowrap;
    position:relative;
    overflow: hidden;
}
.member-options > div{
    background:black;
    display:flex;
    width:inherit;
    height:27vh;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    position:relative;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    bottom:0;
}
.member-options span{color:white;}
.member-options{
    display:none;
    border-right: 1.5vw solid rgb(0, 0, 0);
    border-top: 2.9vh solid transparent;
    width:15vw;
    height:30vh;
    background:transparent;
    position:absolute;
    right:1vw;
    top:2vh;
    border-bottom-right-radius: 5%;
    
}
.member{
    margin:4% 0 10% 0;
    position:relative;
    width:100%;
    height:5vh;
    background:rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    align-items:center;
}
.member span{
    cursor:pointer;
    color:#333;
    position:absolute;
    right:2.5vw;
    top:1.5vh;

}
.member img{
    position:absolute;
    left:1.2vw;
    width:15%;
    height:auto;
    border-radius:100px;
    cursor:pointer;
}
.notifications{
    position:absolute;
    top:0.25vh;
    right:6vw;
    font-size:0.8vw;
    width:1.3vw;
    height:2vh;
    border-radius:100px;
    color:white;
    background:rgb(179, 39, 39);
    display:flex;
    justify-content:center;
    align-items:center;
}
.chat {
    width:75%;
    height:100vh;
}
.messages{
    background:blue;
    width:100%;
    height:70vh;
    background:#333;
    color:white;
    overflow-y:scroll;
}
.msg{
    position:relative;
    width:100%;
    user-select:text;
    margin:5% 0;
}
.msg img{
    width:4.8%;
    height:7.5vh;
    cursor:pointer;
    border-radius:100px;
    margin:0 2%;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge*/
     user-select: none;          /* Non-prefixed version, currently 
      not supported by any browser */
  
    /* Disables the drag event 
    (mostly used for images) */
     -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
     user-drag: none;
}

.msg:active > .date-tooltip{
    display:block;
}
.msg .body{
    margin:0 8%;
}
.msg .date-tooltip{
    transition:2s;
    background:#333;
    color:white;
    position:absolute;
    left:6vw;
    top:2vh;
    display:none;
    font-size:0.8vw;
    opacity:0.6;
}
.message-send{
    width:100%;
    height:30vh;
    background:white;
    position:relative;
    color:black;
    padding: 4vh 10% 4vh 3%;
}
#text::-webkit-scrollbar{display:none;}
#text{
    resize:none;
    width: 100%;
    height: 22vh;
}
#emojiPick{
    cursor:pointer;
    position:absolute;
    top:5vh;
    right:5%;
    font-size:2vw;
}
#sendButton{
    font-size:2vw;
    cursor:pointer;
    position:absolute;
    top:15vh;
    right:5%;
}



